@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 229 28% 11%;
    --foreground: 226 100% 94%;

    --card: 231 25% 14%;
    --card-foreground: 226 100% 94%;

    --popover: 231 25% 14%;
    --popover-foreground: 226 100% 94%;

    --primary: 263 70% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 230 20% 20%;
    --secondary-foreground: 226 100% 94%;

    --muted: 230 20% 18%;
    --muted-foreground: 228 20% 60%;

    --accent: 263 70% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 100% 97.25%;

    --border: 232 20% 22%;
    --input: 232 20% 22%;
    --ring: 263 70% 58%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .email-content a {
    @apply underline;
  }
}

.tiptap {
  padding: 1rem;
  height: 7rem;
  min-height: 7rem;
  overflow: auto;
  > * + * {
    margin-top: 0.75em;
  }
}

.email-content {
  > * + * {
    margin-top: 0.75em;
  }
}
