@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 30% 5%;
    --foreground: 250 50% 93%;

    --card: 256 25% 9%;
    --card-foreground: 250 50% 93%;

    --popover: 256 25% 9%;
    --popover-foreground: 250 50% 93%;

    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 255 20% 14%;
    --secondary-foreground: 250 50% 93%;

    --muted: 255 20% 12%;
    --muted-foreground: 253 15% 50%;

    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 100% 97.25%;

    --border: 258 25% 16%;
    --input: 258 25% 16%;
    --ring: 262 83% 58%;

    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .email-content a {
    @apply underline;
  }
}

.tiptap {
  padding: 1rem;
  height: 7rem;
  min-height: 7rem;
  overflow: auto;
  > * + * {
    margin-top: 0.75em;
  }
}

.email-content {
  > * + * {
    margin-top: 0.75em;
  }
}
